* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;

}

.topnav {
    background-color: gray;
    color: white;
    /* padding-right: 70%; ovo je mnogo razmisljanja, a i ima razlog zasto se padding ovde ne radi sa procentima, lakse je na sledeci nacin*/
    /* padding-left: 20px; medjutim posto u dizajnu oko slova ima i gore i dole neki prostor treba nam padding i gore i dole pa cemo zato staviti ovako*/
    padding: 5px 120px;
    

}


.topnav2 {
    background-color:white;
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* height: 20px; ovo je skroz okej, ali posto ti treba prostor i levo desno, ovu visinu mozes takodje da dobijes paddingom gore i dole  */
    
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
    
}

.logo {
    display: inline-block;
    padding: 5px 0px 5px 120px;
    

}

.topnav2 a {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
      
}

.topnav-right {
    float: right;
    padding-right: 120px;
}

.image-container {
    position: relative;
    height: 360px;
    overflow: hidden;
    margin: 0%;
}

.image-container img {
    width: 100%;
    position: relative;
    transform: translate(0, -50%);
}
.image-information{
    position:absolute;
    margin-top: 10px;
    margin-left: 40px;
    padding: 0%;
    top: 150px;
    left:450px
    
}
.image-information p
{
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-left: 70px;
font-size: 25px;

}

.image-information h1 {
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-left: 20px;
}

.image-information button{
     
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 140px;
    margin-top: 10px;
    background-image: url(img/oblak1.jpg);
    color: white;
    letter-spacing: 3px;

}
.flex-example {
    display: flex;
    flex-direction: row;
    width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
   
}
.flex h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 500px;

}
.flex p {
background-color: pink;
padding: 3px 510px ;
border-width: 2px;
}

.footer{
    display: flex;
    background-color:grey;
    justify-content: space-between;
    padding: 10px 120px 0px 120px;
    border-top: solid 7px grey;
    position: absolute;
    width: 100%;   
}
.flex1{
    margin-left: 70px;
    width: 200px;
    color: white;
    margin-top: 3px;
    
}
.flex1 p{
    margin-top: 10px;
}
.naslov{
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.flex2{
    margin-top: 3px;
}
.flex2 a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;

}
.flex2 p{
    
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    
}
.flex3{
    margin-top: 3px;
}

.naslov2{
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}
.tekstic{
    color: white;
    margin-top: 10px;
}
.dugme2{
    font-family: Arial, Helvetica, sans-serif;
    background-color:grey;
    letter-spacing: 3px;
    border:solid 2px white;
}
.imejl{
    border:solid 2px white;
    background-color:grey;
    
}
