.topnav {
    background-color: gray;
    text-align: center;
    padding-right:70%;
    color: white;

}
.topnav2 {

background-color:white;
color: pink;
font-family: Arial, Helvetica, sans-serif;
height: 20px; 
}

.topnav2 a {
        float: right;
        color: black;
        text-align :center;
        font-family: Arial, Helvetica, sans-serif;
       
}
    