* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: rgba(230, 230, 230, 0.705);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.header {
	padding: 7px 40px;
	display: flex;
	justify-content: space-between;
	background-color: rgb(224, 188, 28);
}

.logo h1 {
	margin: 0px;
}

.header-inner-container {
	width: 100%;
	margin: 0 auto;
}

.logo,
.topnav {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 0px 2px;
}

.topnav a {
	color: black;
	padding: 0% 10px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: black;
	color: rgb(224, 188, 28);
}

.topnav a:active {
	background-color: black;
	color: yellow;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	padding: 7px;
}

.search button {
	background-color: black;
	color: white;
}

.main-header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 25px 0px;
}

.main-header h2,
p {
	margin: 0px;
}

.main {
	max-width: 1024px;
	width: 100%;
	padding: 0px 20px;
	margin: 30px auto;
	box-sizing: border-box;
	
}

.naslov {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 8px 0px;
}

.list {
	list-style: none;
	margin: 0%;
	padding: 0%;
}

.section {
	padding: 8px 0px;
}

.section2 ul {
	padding: 8px 0;
}

.link {
	display: inline-block;
	width: 100%;
	padding: 8px 0;
}

.social-media-icon {
	text-align: center;
	width: 100%;
	padding: 8px 0px;
}

.social-media-icon a {
    padding: 0 70px;
    display: inline-block;
}

.link input {
	width: 100%;
	padding: 8px 0;
	margin-bottom: 10px;
}

.section3 button {
	background-color: black;
	color: white;
	width: 100%;
	padding: 8px 0;
	margin-top: 10px;
}

.section4 {
	margin-top: 10px;
}

.area {
	width: 100%;
	height: 180;
}

.main-container {
	float: left;
	width: 68%;
	background-color: white;
	padding: 10px 20px;
	box-sizing: border-box;
}

.main-container .section {
	margin-bottom: 16.2px;
}

.sidebar-container {
	float: right;
	width: 29%;
	background-color: white;
	padding: 10px 18px;
}
.blogs img {
	width: 100px;
}
.blogs .date {
    color: yellow;
}
.advertising img{
	width: 100%;
}
.advertising p {
    text-align: left;
}
.feed p {
    text-align: left;
}
.latest p{
	text-align: left;
}
.text {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	padding-left: 10x;
}
.item-img{
	display:inline-block;
	vertical-align: middle;
}
.item {
   margin-bottom: 5px;
}

.flex-example {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-example div {
	width: 80px;
	overflow: hidden;
	margin-bottom: 5px;
}

.flex-example img {
	width: 100%;
	height: 80px;
}

.footer {
	background-color: black;
}
	
.title {
	font-size: 20px;
	font-weight: bold;
	color: yellow;
}
.foot-flex1 {
	color: white;
	width: 67%;
}

.foot-flex1 p {
	line-height: 20px;
}

.foot-flex2 {
	width: 14%;
}

.foot-flex3 {
	width: 14%;
}


.footer-container {
	max-width: 1024px;
	width: 100%;	
	box-sizing: border-box;
	margin: 0 auto;
	padding: 85px 0;
	display: flex;
	justify-content: space-between;
}
.footer-container a{
	color: white;
	text-decoration: none;
	display: block;
	margin-bottom: 3px;
}

.footer-container .title {
	border-bottom: 1px solid white;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

