body{
    margin: 0px;
    background-color: rgba(230, 230, 230, 0.705);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    padding: 7px 40px;
    display: flex;
    justify-content: space-between; 
    background-color: rgb(224, 188, 28);
    
}
.logo h1 {
    margin: 0px;
}

.header-inner-container {
    width: 100%;
    margin: 0 auto;
}
.logo, .topnav {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 2px;
   
}
.topnav a {
    color: black;
    padding: 0% 10px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: black;
    color:  rgb(224, 188, 28);
}
.topnav a:active {
    background-color:black;
    color: yellow;
}

.header-left {
    float: left;
}
.header-right {
    float: right;
    padding: 7px;
}

.search button{
    background-color: black;
    color: white;
}
.main-header{
    background-color: black;
    color:white;
    text-align:center;
    padding: 25px 0px;
    
}
.main-header h2,p {
 margin: 0px;   
}

.main{
    max-width: 760px;
    width: 100%;
    padding: 0px 20px;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: white;

    
}
.naslov{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 8px 0px;
}
.list{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.section{
    padding: 8px 0px;
}
.section2 ul{
    padding: 8px 0;
}

.link{
    display: inline-block;
    width: 100;
    padding: 8px 0 ;
}
.social-media-icon{
    
    text-align: center;
    width: 720;
    padding: 8px 0px;
}
.social-media-icon a{
    padding: 0 85px;
}

.link input{
    width: 720;
    padding: 8px 0;
    margin-bottom: 10px;
}

.section3 button{
    background-color: black;
    color: white;
    width: 720;
    padding: 8px 0;
    margin-top: 10px;
}
.section4{
    margin-top: 10px;
}
.area{
    width: 720;
    height: 180;
}
