.center {
    text-align: center;
}

.border-top {
    border-top: 1px solid black;
    padding: 20px 0;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.flex h2 {
    margin-top: 0;
    text-align: center;
}

.flex-example {
    display: flex;
    flex-direction: row;
    width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-4, .image-5, .image-6 {
    margin-top: 30px;
}

.relative {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: red;
    margin: 0 auto;
    position: relative;
}

.absolute {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: yellow;
    /* OVAKO SE CENTRIRA ABSOLUTE U ODNOSU NA RELATIVE */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* KRAJ STILA */
}