* body{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}
.header{
    width: 100%;
}
.header-container{
    width: 100%;
    overflow: hidden;
    margin: 0% auto;
    height: 100px;
}
.header-container img{
    position: relative;
    top: -850;
}
.fact{
    background-color: rgb(252, 143, 71);

}
.podnaslov{
    margin: 0%;
    text-align: center;
    padding: 15px 70px;
}
.naslov{
    margin: 0%;
    font-size: 20;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.fact2{
    background-color: white;
}
.factorijum p{
    margin: 0%;
    padding: 0%;
    text-align: center;
    padding: 15px 70px;
}
.galery-post{
    background-color: rgb(68, 66, 66);
   
}
.galery-container{
   margin: 0px auto;
    display: flex;
    max-width: 1024px; /* Uvek mozes da promenis velicinu, smanjio sam je sad, jer ako bi povecali, slike ne bi bile lepe. Ostale div-ove ne mora da menjas na ovu sirinu */
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px; /* Stavljeno da bi se slike odvojile od gornje ivice */
}
.pic-flex{
    overflow: hidden;
    width: 500px;   /* U dizajnu slike nisu kockaste nego pravougle pa su width i height razliciti*/
    height: 300px;  
    margin-bottom: 20px; /* Ovim odvajamo gornji red slika od donjih*/
}
.pic-flex img{
    width: 100%;
    position: relative; /*M ora biti relativne pozicije kako bi moglo da se manipulise njome unutar pic-flex div-a */
    height: 300px; /* Posto slike nisu istih velicina, a nama treba konkretno neka velicina da bi se slagale, moramo ih fiksirati. ovo nije dobra praksa, ali ako nemas velike slike, na ovaj nacin se resava problem*/
}
